/* START: design timer text */
#timer_container {
  font-weight: 500;
  color: red;
  font-size: 27px;
  font-family: "Courier New", Arial, Helvetica, sans-serif;
  float: left;
  margin-left: 70px;
  margin-top: 20px;
  visibility: hidden;
}

/*
#settings_btn,
#settings_btn:focus {
  border: none;
  font-weight: 500;
  color: green;
  font-size: 27px;
  font-family: "Courier New", Arial, Helvetica, sans-serif;
  float: right;
  margin-right: 70px;
  margin-top: 20px;
  outline: 0;
}

#settings_btn:active {
  color: orange;
}

#settings_btn:hover {
  border: rgba(226, 226, 226, 0) solid 3px;
}
*/

#goal_setup {
  margin: 0 auto;
  width: 200px;
  padding-top: 120px;
  text-align: center;
  font-size: 35px;
  font-family: "Courier New", Arial, Helvetica, sans-serif;
}

input,
input:focus {
  border: none;
  border-bottom: 2px solid black;
  width: 50px;
  transition: border 2s linear;
  text-align: center;
  font-size: inherit;
  outline: 0;
  -webkit-transition: color 1s; /* For Safari 3.1 to 6.0 */
  transition: color 1s;
}

input:disabled {
  color: green;
}

#options_overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  font-weight: 500;
  color: darkgreen;
  font-size: 27px;
  font-family: "Courier New", Arial, Helvetica, sans-serif;
}

#interval {
  float: right;
}
